name: "Backup Database to Google Drive"

on:
  schedule:
    #se ejecuta todos los días a las 03:00 AM UTC
    - cron: "0 3 * * *"
  workflow_dispatch: #esto me permite ejecutarlo manualmente desde github cuando quiera

jobs:
  backup:
    runs-on: ubuntu-latest
    name: Backup and Upload

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PostgreSQL 17 Client
        run: |
          #instala herramientas necesarias para gestionar repositorios
          sudo apt-get install -y lsb-release curl

          #agrega la llave y el repositorio oficial de PostgreSQL
          #esto me asegura que tenga acceso a la última versión (17) aunque ubuntu no la traiga
          sudo install -d /usr/share/postgresql-common/pgdg
          sudo curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc
          sudo sh -c 'echo "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

          #actualizar e instalar explícitamente el cliente v17
          sudo apt-get update
          sudo apt-get install -y postgresql-client-17

      - name: Install Rclone
        run: |
          sudo -v ; curl https://rclone.org/install.sh | sudo bash

      - name: Create Backup
        env:
          DATABASE_URL: ${{ secrets.SUPABASE_DB_URL }}
        run: |
          #esto detiene el script si pg_dump falla, sin esto, se subirá un archivo vacío o corrupto
          set -o pipefail
          #nombre del archivo con fecha y hora
          FILENAME="taller_franco_backup_$(date +'%Y-%m-%d_%H-%M').sql.gz"

          /usr/lib/postgresql/17/bin/pg_dump "$DATABASE_URL" \
            --clean \
            --if-exists \
            --quote-all-identifiers \
            --no-owner \
            --no-privileges \
            --encoding=UTF8 \
            | gzip > "$FILENAME"

          echo "BACKUP_FILENAME=$FILENAME" >> $GITHUB_ENV

          #para verificar que el archivo se creó imprime el tamaño del archivo
          ls -lh "$FILENAME"

      - name: Configure Rclone
        env:
          RCLONE_CONF_CONTENT: ${{ secrets.GDRIVE_RCLONE_CONF }}
        run: |
          mkdir -p ~/.config/rclone
          echo "$RCLONE_CONF_CONTENT" > ~/.config/rclone/rclone.conf

      - name: Upload to Google Drive
        run: |
          #sube el archivo a la carpeta 'backups_db' (la crea si no existe)
          rclone copy "$BACKUP_FILENAME" gdrive:backups_db/

          echo "Backup subido exitosamente: $BACKUP_FILENAME"

      - name: Rotate Backups (Optional)
        run: |
          #borra backups antiguos en Drive que sean mayores a 30 días
          rclone delete gdrive:backups_db/ --min-age 30d
